h1, h3 {
  text-align: center;
  color: #000000;
}

.padding {
  padding-top: 90px;
}

.matias {
  color: white;
  text-shadow: 2px 2px 2px blue;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.boton-portfolio {
  background-color: rgb(247, 0, 255);
  color: #000000;
  border: none;
  height: 60px;
  font-size: 6 0px;
  padding: 0 2em;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(24, 24, 255);
  border: 1px black solid;
}

.boton-portfolio:hover {
  background-color: #000000;
  transition: all 0.8s;
  color: white;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  padding: 100px;
  margin: auto;
}

.icon i {
  margin: 30px;
  color: white;
}

ul {
  list-style: none;
}

.alinear {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wsp:hover {
  color: rgb(0, 255, 0);
}

.tw:hover {
  color: aqua;
}

.fb:hover {
  color: rgb(69, 69, 214);
}

.ig:hover {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 26%;
}

.nav-link {
  margin-left: 60px;
}

.portfolio {
  color: #fff;
  padding: 20px 20px;
}

.portfolio .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.portfolio h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.portfolio .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio .galeria .proyecto {
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}

.portfolio .galeria .proyecto img {
  width: 100%;
  display: block;
}

.portfolio .galeria .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(28, 182, 152, 0.8), rgba(28, 182, 152, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover {
  opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
  margin-bottom: 0px;
}

.content {
  padding-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

label {
  color: rgb(0, 0, 0);
}

.contact-form {
  background-color: #ffffff;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #FF00E4;
}

.contact-form form button {
  background: #000000;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d400ff;
  color: white;
  transition: background-color 1s ease-out;
  outline: 0;
}

.curriculum {
  color: #000000;
  padding: 50px 20px;
}

.curriculum .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.curriculum h2 {
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
}

.curriculum .fila {
  display: flex;
  justify-content: space-between;
}

.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}

.curriculum .fila .col h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

.curriculum .fila .izquierda {
  border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
  border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #ffffff;
  position: relative;
}

.curriculum .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.curriculum .fila .item .casa {
  color: #FF00E4;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.curriculum .fila .item .fecha {
  display: block;
  color: #FF00E4;
  margin-bottom: 10px;
}

.curriculum .fila .item p {
  line-height: 24px;
}

.curriculum .fila .izq {
  border-right: 2px solid #FF00E4;
  margin-right: 20px;
}

.curriculum .fila .der {
  border-left: 2px solid #FF00E4;
  margin-left: 20px;
}

.curriculum .fila .item .conectori {
  height: 2px;
  background-color: #000000;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #000000;
  float: right;
  position: relative;
  bottom: 4px;
}

.curriculum .fila .item .conectord {
  height: 2px;
  background-color: #000000;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  float: left;
  position: relative;
  bottom: 4px;
}

.contenedor-contactame {
  background-color: #000000;
  color: #ffffff;
}

.contenedor-portfolio {
  background-color: #000000;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(8, 170, 29);
  background: linear-gradient(90deg, rgb(8, 170, 29) 0%, rgb(245, 22, 199) 0%, rgb(121, 9, 205) 0%, rgb(173, 40, 182) 100%, rgb(115, 37, 98) 100%, rgb(25, 233, 164) 100%);
}

footer {
  background-color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #000000;
}

.foto {
  border: 7px solid black;
  width: 300px;
}

.parrafo {
  padding-top: 20px;
  color: #000000;
  font-size: 28px;
  text-align: center;
}

nav {
  float: left;
  width: 100%;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 8px;
  }
}

.download-cv {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
  color: #000000;
}

.main img {
  border: 7px solid aqua;
  width: 350px;
  height: 520px;
  z-index: 1;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
  filter: saturate(150%);
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px 2px blue;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #FF00E4;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.personales {
  color: #ffffff;
  text-shadow: 2px 2px 2px blue;
}

.column {
  padding: 20px;
  font-size: 20px;
}

.datos {
  padding: 20px;
}

strong {
  color: black;
}

/*# sourceMappingURL=estilo.css.map */
