h1, h3 {
  text-align: center;
  color: #000000;
}

.padding {
  padding-top: 90px;
}

.matias {
  color: white;
  text-shadow: 2px 2px 2px blue;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.boton-portfolio {
  background-color: rgb(247, 0, 255);
  color: #000000;
  border: none;
  height: 60px;
  font-size: 6 0px;
  padding: 0 2em;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(24, 24, 255);
  border: 1px black solid;
}

.boton-portfolio:hover {
  background-color: #000000;
  transition: all 0.8s;
  color: white;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  padding: 100px;
  margin: auto;
}

.icon i {
  margin: 30px;
  color: white;
}

ul {
  list-style: none;
}

.alinear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wsp:hover {
  color: rgb(0, 255, 0);
}

.tw:hover {
  color: aqua;
}

.fb:hover {
  color: rgb(69, 69, 214);
}

.ig:hover {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 26%;
}

.nav-link {
  margin-left: 60px;
}

nav {
  float: left;
  width: 100%;
}

.container {
  float: right;
  padding-top: 10px;
}

.col {
  margin: 10px;
  padding: 10px;
}

.imagen-portfolio:hover {
  filter: opacity(0.5);
  cursor: pointer;
  transition: 0.5s;
}

.content {
  padding-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
}

label {
  color: white;
}

.contact-form {
  background: rgb(9, 191, 217);
  background: linear-gradient(70deg, rgb(9, 191, 217) 22%, rgb(176, 0, 224) 79%);
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #000000;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d400ff;
  color: white;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contenedor-contactame {
  background-color: #000000;
  color: #ffffff;
}

.contenedor-portfolio {
  background-color: #000000;
  color: #ffffff;
}

.yo {
  background-color: #000000;
  color: #ffffff;
}

.uno {
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(8, 170, 29);
  background: linear-gradient(90deg, rgb(8, 170, 29) 0%, rgb(245, 22, 199) 0%, rgb(121, 9, 205) 0%, rgb(173, 40, 182) 100%, rgb(115, 37, 98) 100%, rgb(25, 233, 164) 100%);
}

footer {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #000000;
}

.foto {
  border-radius: 50%;
}

.parrafo {
  padding-top: 20px;
  color: #000000;
  font-size: 28px;
  text-align: center;
  overflow-y: scroll;
}

.card-container {
  display: inline-flex;
}

/*# sourceMappingURL=estilo.css.map */
