
.content {
    padding-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.75);
}
label{
    color:white;
}


.contact-form {
    background: rgb(9,191,217);
    background: linear-gradient(70deg, rgba(9,191,217,1) 22%, rgba(176,0,224,1) 79%);
   
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    border: none;
    background: none;
    outline: 0;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #000000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d400ff;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}

.parrafo{
    padding-top:20px ;
    color: #000000;
    font-size: 28px;
    text-align: center;
}