$color-principal: #F3F9D2;
$color-secundario: rgb(247, 0, 255);
$negro: #000000;





h1, h3{
  text-align: center;
  color:$negro;
}

.padding{
  padding-top: 90px;
}

.matias{
  color: white;
  text-shadow: 2px 2px 2px blue;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.boton-portfolio{
  background-color:$color-secundario;
  color:$negro;
  border:none;
  height:60px;
  font-size:6 0px;
  padding: 0 2em;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(24, 24, 255);
border: 1px black solid;
}
.boton-portfolio:hover{
  background-color: $negro;
  transition: all 0.8s;
  color: white;
  cursor: pointer;
}

.icon{
  display: flex;
  flex-direction: row;
  font-size: 40px;
  padding: 100px;
  margin: auto;
 
}

.icon i{
  margin: 30px;
  color: white;
}



ul{
  list-style: none;
}

.alinear{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wsp:hover{
  color: rgb(0, 255, 0);
}

.tw:hover{
 color: aqua;
}

.fb:hover{
  color: rgb(69, 69, 214);
}

.ig:hover{
 background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 26%;
  
}

.nav-link{
  margin-left: 60px;
}
