$color-principal: #F3F9D2;
$color-secundario: rgb(247, 0, 255);
$negro: #000000;




h1, h3{
  text-align: center;
  color:$negro;
}

.padding{
  padding-top: 90px;
}

.matias{
  color: white;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

button{
  background-color:$color-secundario;
  color:$negro;
  border:none;
  height:60px;
  font-size:6 0px;
  padding: 0 2em;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(24, 24, 255);
border: 1px black solid;
}
button:hover{
  background-color: $negro;
  transition: all 0.8s;
  color: white;
  cursor: pointer;
}

.icon{
  display: flex;
  flex-direction: row;
  font-size: 40px;
  padding: 100px;
  margin: auto;
 
}

.icon i{
  margin: 30px;
  color: white;
}

.icon i:hover{
  color: $negro;
}

ul{
  list-style: none;
}

.alinear{
  display: flex;
  justify-content: center;
  align-items: center;
}