.container{
   display: flex;
   padding-top: 30px;
}

.row{
    justify-content: center;
    align-items: center;
}

.col{
    margin: 20px;
}

img:hover{
    filter: grayscale(80%);
    cursor: pointer;
}