

.col{
  padding-bottom: 40px;
  margin: 0 auto;
}   


.imagen-portfolio{
  width: 350px;
  @media screen and (max-width:565px) {
    width: 150px;
    
  }
}

.imagen-portfolio:hover{
    filter: opacity(.5);   
     cursor: pointer;
    transition: .5s;
}